body{
    /* Margen predeterminado */
    margin: 0;
    /* Margen para dentro */ 
    padding:0;
    /* Tamaño de texto */ 
    font: size 12px;
    /* Fuente del texto */
    font-family: Arial, Helvetica, sans-serif;
}
/*************************************************/
/********************************************/
/***********************************/
/* Navegación */

header{
    /* width - ancho /// height - alto */
    width: 100%;
    height: 50px;
}

header nav{ 
    /* como se puede mover el elemento */
    display:flex;
    justify-content:flex-end;
}

header nav .nav-right-section{
    /* eliminar viñetas */
    list-style:none;
    width:250px;
    display:flex; 
    justify-content: center;
    align-items: center;
    /* Altura automática */
    height: auto;
}

nav .nav-right-section a{
    /* color de texto */ 
    color: rgb(21, 21, 21);
    /* Linea debajo de */
    text-decoration: none;
    /* margen derecho */
    margin-right: 25px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}



nav .nav-right-section img{
    /* Margin left - margen a la izquierda SOLAMENTE */
    margin-left: 20px;
    border-radius: 100px;
    width: 35px;
}




/*************************************************/
/********************************************/
/***********************************/
/* Main */

main{
    text-align: center;
    margin-top: 150px;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-logo img{
    height: 100px;
}

/* Sección Input */
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Cajita gris redondeada buscador */
main .main-input-container{
    /* ancho de línea, estilo y color */
    border: 1px solid #dfe1e5;
    /* Bordes redondeados */
    border-radius: 30px;
    width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    height: 40px;
    width: 430px;
    /* quitar borde negro*/
    border: none;
    /* outline es para quitar borde  azul al hacer click*/
    outline: none;
    
    
}




main .main-input .search-icon{
    /* Poner una imagen */
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px;
    height: 15px;
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;

}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://lh3.googleusercontent.com/H65Hxq0ooUCcwhoRGU-fwoXqrGS58mwa2vtr2ZfhGgJzMU0uYybOrZVBs8jydtR22TRC1k9XwDMD2xHB5BBU4IyXW7oH8PyCsq46uX6A42CmXP5GDZ2d);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 6%;
}

main .main-buttons{
    width: 550px;
    margin: 0 auto;

}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color:#f8f9fa; 
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    margin-right: 15px;
    padding: 0 15px;
}

main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}
    

main .main-buttons button:hover{
    color:#202124 ;
    /* ancho de línea - estilo de línea - color */ 
    border: 1px solid #dadce0;
    /*sombra del boton*/
    box-shadow: 0 0 5px rgba (0,0,0,0.1);
}